@define-color base {{colors.background.default.rgba | set_alpha: 0.6 }};
@define-color background-alt {{colors.surface_container_low.default.hex}};
@define-color foreground {{colors.on_background.default.hex}};
@define-color primary {{colors.primary.default.hex}};
@define-color secondary {{colors.secondary.default.hex}};
@define-color alert {{colors.error.default.hex}};
@define-color disabled {{colors.on_surface_variant.default.hex}};
@define-color transparent rgba(0,0,0,0);


/**
 * colors-waybar.css
 * Template for matugen material color generation
 */
/* Material Design 3 Color Tokens */
@define-color background {{colors.surface.default.hex}};
@define-color on-background {{colors.on_surface.default.hex}};
@define-color foreground {{colors.on_surface.default.hex}};
/* Surface colors */
@define-color surface {{colors.surface.default.hex}};
@define-color surface-dim {{colors.surface_dim.default.hex}};
@define-color surface-bright {{colors.surface_bright.default.hex}};
@define-color surface-container-lowest {{colors.surface_container_lowest.default.hex}};
@define-color surface-container-low {{colors.surface_container_low.default.hex}};
@define-color surface-container {{colors.surface_container.default.hex}};
@define-color surface-container-high {{colors.surface_container_high.default.hex}};
@define-color surface-container-highest {{colors.surface_container_highest.default.hex}};
@define-color on-surface {{colors.on_surface.default.hex}};
@define-color surface-variant {{colors.on_surface_variant.default.hex}};
@define-color on-surface-variant {{colors.on_surface_variant.default.hex}};
/* Primary colors */
@define-color primary {{colors.primary.default.hex}};
@define-color primary-fixed {{colors.primary_fixed.default.hex}};
@define-color primary-fixed-dim {{colors.primary_fixed_dim.default.hex}};
@define-color on-primary {{colors.on_primary.default.hex}};
@define-color on-primary-fixed {{colors.on_primary_fixed.default.hex}};
@define-color on-primary-fixed-variant {{colors.on_primary_fixed_variant.default.hex}};
@define-color primary-container {{colors.primary_container.default.hex}};
@define-color on-primary-container {{colors.on_primary_container.default.hex}};
/* Secondary colors */
@define-color secondary {{colors.secondary.default.hex}};
@define-color secondary-fixed {{colors.secondary_fixed.default.hex}};
@define-color secondary-fixed-dim {{colors.secondary_fixed_dim.default.hex}};
@define-color on-secondary {{colors.on_secondary.default.hex}};
@define-color on-secondary-fixed {{colors.on_secondary_fixed.default.hex}};
@define-color on-secondary-fixed-variant {{colors.on_secondary_fixed_variant.default.hex}};
@define-color secondary-container {{colors.secondary_container.default.hex}};
@define-color on-secondary-container {{colors.on_secondary_container.default.hex}};
/* Tertiary colors */
@define-color tertiary {{colors.tertiary.default.hex}};
@define-color tertiary-fixed {{colors.tertiary_fixed.default.hex}};
@define-color tertiary-fixed-dim {{colors.tertiary_fixed_dim.default.hex}};
@define-color on-tertiary {{colors.on_tertiary.default.hex}};
@define-color on-tertiary-fixed {{colors.on_tertiary_fixed.default.hex}};
@define-color on-tertiary-fixed-variant {{colors.on_tertiary_fixed_variant.default.hex}};
@define-color tertiary-container {{colors.tertiary_container.default.hex}};
@define-color on-tertiary-container {{colors.on_tertiary_container.default.hex}};
/* Error colors */
@define-color error {{colors.error.default.hex}};
@define-color on-error {{colors.on_error.default.hex}};
@define-color error-container {{colors.error_container.default.hex}};
@define-color on-error-container {{colors.on_error_container.default.hex}};
/* Outline colors */
@define-color outline {{colors.outline.default.hex}};
@define-color outline-variant {{colors.outline_variant.default.hex}};
/* Inverse colors */
@define-color inverse-surface {{colors.inverse_surface.default.hex}};
@define-color inverse-on-surface {{colors.inverse_on_surface.default.hex}};
@define-color inverse-primary {{colors.inverse_primary.default.hex}};
/* Scrim & Shadow */
@define-color scrim {{colors.scrim.default.hex}};
@define-color shadow {{colors.shadow.default.hex}};
/* Legacy 16-color palette */
@define-color color0 {{colors.surface.default.hex}};
@define-color color1 {{colors.error.default.hex}};
@define-color color2 {{colors.secondary.default.hex}};
@define-color color3 {{colors.tertiary.default.hex}};
@define-color color4 {{colors.primary.default.hex}};
@define-color color5 {{colors.secondary_fixed_dim.default.hex}};
@define-color color6 {{colors.tertiary_fixed_dim.default.hex}};
@define-color color7 {{colors.on_surface.default.hex}};
@define-color color8 {{colors.surface_container_high.default.hex}};
@define-color color9 {{colors.error_container.default.hex}};
@define-color color10 {{colors.secondary_container.default.hex}};
@define-color color11 {{colors.tertiary_container.default.hex}};
@define-color color12 {{colors.primary_container.default.hex}};
@define-color color13 {{colors.outline.default.hex}};
@define-color color14 {{colors.outline_variant.default.hex}};
@define-color color15 {{colors.on_surface_variant.default.hex}};
